@import url('https://fonts.googleapis.com/css2?family=Commissioner:wght@400;500&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.App {
  text-align: center;
  font-family: 'Commissioner', sans-serif;
  margin: 0 auto;
}

header{
  width: 100%;
  display: flex;
  justify-content: space-between;
  height: 12vh;
  background-color: #0e0e0e;
  padding:1rem 2rem;
  margin: 0 auto;
  position: sticky;
  top: 5px;
}

header img{
  width: 2rem;
}
header p{
  font-size: 0.8rem;
  color: #fafafa;
  margin-top: 0;
}
header div{
  cursor: pointer;
}
.open-menu{
  position: fixed;
  z-index: 1;
  background-color: rgba(0,0,0,0.6);
  width: 100%;
  height: 100vh;
  color: #fafafa;
  transition: all 300ms ease-in-out;
  -webkit-transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  -ms-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  text-align: center;
  animation-name: ease;
  animation-duration:3s;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.open-menu ul{
  list-style: none;
}

.open-menu ul li{
  font-size: 1.2rem;
  margin-top: 1.5rem;
}
@keyframes ease{
  0%{
    opacity: 0.50;
  }
  50%{
    opacity: 0.75;
  }
  100%{
    opacity: 1;
  }
}

.card{
  width: 90%;
  background-color: #fafafa;
  height: 90vh;
  margin: 1rem;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  -webkit-box-shadow: 10px 10px 10px -2px rgba(217,217,217,1);
  -moz-box-shadow: 10px 10px 10px -2px rgba(217,217,217,1);
  box-shadow: 10px 10px 10px -2px rgba(217,217,217,1);
}
.container {
  width: 80%;
  margin: 1rem auto;
  height: 300px;
  display: flex;
  justify-content: center;

}

.container img {
  width: 100%;
}

.container button {
  height: 10%;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 1em;
  display: flex;
  margin: 3rem;
  background-color: transparent;
}

.container button .arrow {
  border: solid #212121;
  border-width: 0 4px 4px 0;
  display: inline-block;
  padding: 10px;
  transition: transform 0.3s ease-out;
  outline: none;
}

.right-btn {
  margin: auto 0 auto 0;
  position: relative;
  right: 45px;
  top: 75px;
}

.right-btn .arrow {
  transform: rotate(-45deg);
}

.left-btn {
  z-index: 0;
  margin: auto 0 auto 0;
  position: relative;

  left: 45px;
  top: 75px;
}

.left-btn .arrow {
  transform: rotate(135deg);
}
button.button {
  width: 90%;
  height: 4rem;
  margin: 0.5rem;
  font-size: 1rem;
  font-family: inherit;
  transition: all 300ms ease-in-out;
  -webkit-transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  -ms-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
}
button.button:hover{
  transform: scale(1.05);
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  -ms-transform: scale(1.05);
  -o-transform: scale(1.05);
}
button.button.view{
  color: #fafafa;
  background-color: black;
  border: solid 2px black;
  
}

button.button.add{
  color: black;
  background-color: #fafafa;
  border: solid 2px black;
}
.description{
  margin-bottom: 1rem;
  text-align: center;
}
main{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.precio{
  margin-top: 1rem;
  font-weight: bold;
}
.open-cart{
  position: fixed;
  z-index: 1;
  background-color: rgba(0,0,0,0.6);
  width: 100%;
  height: 100vh;
  color: #fafafa;
  transition: all 300ms ease-in-out;
  -webkit-transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  -ms-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  text-align: center;
  animation-name: ease;
  animation-duration:3s;
  display: flex;
  flex-direction: column;
  align-items: center;

}
.modal{
  width: 100vw;
  height: 100vh;
  background-color: rgba(0,0,0,0.6);
  position: fixed;
  z-index: 3;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.mensaje{
  border: 3px solid black;
  background-color: #fafafa;
  padding: 2rem;
  width: 80%;
}
.mensaje button{
  position: relative;
  left: 50%;
  bottom: 15%;
  background-color: transparent;
  border: none;
  font-weight: bold;
  font-size: 1.2rem;
  cursor: pointer;
}
.mensaje img{
  width: 2rem;
}




@media (min-width: 600px){
  .open-menu{
    width: 30%;
  }
  .open-cart{
    width: 30%;
    left: 70%;
  }
  main{
    flex-direction: row;
    flex-wrap: wrap;
  }
  .card{
    width: 30%;
  }
  .mensaje{
    width: 40%;
  }
  .mensaje button{
    left: 55%;
    bottom: 40%;
  }
}